body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(90deg, #ff0000 0%, #ffffff 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;
  gap: 17px;
}

.box {
  border-radius: 5px;
  border: solid 0.15px #808080;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
}

.box::placeholder {
  font-size: 16px;
}

.meme-button {
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #8a8fdc 1.14%, #38da18);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}

.meme-button:hover {
  background-color: #8f008f;
  transition: 0.15s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image {
  margin-left: 10px;
  width: 20px;
}

/* Meme and text */
.meme-image {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.meme-part {
  position: relative;
}

.meme-text {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 50px 5px;
  font-family: "Impact", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 40px);
  }
}
