.main{
  padding: 20px;
}
.main-content{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.box{
  border-radius: 5px;
  border: solid 0.15px gray;
  padding-left: 10px;
  font-size: 16px;
}
.box::placeholder{
  font-size: 16px;
}
.meme-button{
  grid-column: 1 / -1;
  background-color: purple;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meme-button:hover{
  background-color: rgb(143, 0, 143);
  transition: 0.15s;
  box-shadow: 10px 1px 5px;
}
.image{
  margin-left: 10px;
  width: 20px;
}


/* Meme and text */
.meme-image{
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.meme-part{
  position: relative;
}
.meme-text {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 50px 5px;
  font-family: impact, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom{
  bottom: 0;
}

.top{
  top: 0;
}
